---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getExhibitionsByStatus } from '../utils/exhibitions';
import { formatDateRange } from '../utils/dates';

const exhibitions = getExhibitionsByStatus('upcoming');
---

<BaseLayout title="Expozitii viitoare | Atrium Gallery" description="Ce urmeaza la Atrium Gallery.">
  <h1 class="section-title">Expozitii viitoare</h1>
  <div class="exhibition-list">
    {exhibitions.map((exhibition) => (
      <article class="exhibition-item">
        <img class="exhibition-thumb" src={exhibition.thumbnail} alt={exhibition.title} loading="lazy" />
        <div class="exhibition-info">
          <h3>{exhibition.title}</h3>
          <p class="exhibition-meta">{formatDateRange(exhibition.startDate, exhibition.endDate)}</p>
          <p>{exhibition.description}</p>
          <a class="exhibition-link" href={`/exhibition/${exhibition.id}`}>Detalii</a>
        </div>
      </article>
    ))}
  </div>
</BaseLayout>
